In [3]:
import pandas as pd
import numpy as np
import pickle as pkl

In [5]:
with open("chartdata.pkl", "rb") as f:
    object = pkl.load(f)
df = pd.DataFrame(object)

In [8]:
df.head()

,blocks-size,avg-block-size,n-transactions-total,hash-rate,difficulty,transaction-fees-usd,n-unique-addresses,n-transactions,my-wallet-n-users,utxo-count,n-transactions-excluding-popular,estimated-transaction-volume-usd,trade-volume,total-bitcoins,market-price
date,,,,,,,,,,,,,,,
2021-01-01,319114.048500,1.352233,601577750.0,1.377640e+08,1.859959e+13,1.455398e+06,609741.0,258080.0,6.347347e+07,6.950244e+07,255086.0,4.343208e+09,6.065241e+08,1.858722e+07,28982.56
2021-01-02,319315.580633,1.395637,601835959.0,1.396132e+08,1.859959e+13,2.504284e+06,711719.0,297111.0,6.355471e+07,6.930901e+07,293409.0,6.152237e+09,4.912580e+08,1.858817e+07,29393.75
2021-01-03,319526.405445,1.288694,602133929.0,1.460853e+08,1.859959e+13,2.893754e+06,812749.0,359116.0,6.365267e+07,6.929026e+07,355123.0,5.847743e+09,1.393907e+09,1.858911e+07,32195.46
2021-01-04,319729.832857,1.318806,602493027.0,1.599542e+08,1.859959e+13,3.516375e+06,851667.0,373734.0,6.374939e+07,6.928825e+07,368932.0,7.503148e+09,9.758314e+08,1.859015e+07,33000.78
2021-01-05,319957.982033,1.292713,602865747.0,1.451608e+08,1.859959e+13,3.677641e+06,845343.0,354091.0,6.385156e+07,6.932760e+07,349895.0,6.775408e+09,1.432013e+09,1.859119e+07,32035.03

In [14]:
df.shape

(310, 15)

In [51]:
chunk = pd.read_csv('btc_coinMarket.csv', chunksize=100000, lineterminator='\n', low_memory=False)
df = pd.concat(chunk)

In [52]:
df.head()

    open;high;low;close;volume;marketCap;timestamp\r
0  0.06183332;0.06634905;0.05261677;0.05816341;75...
1  0.07879913;0.08360209;0.06903579;0.07416855;57...
2  0.06976299;0.07825864;0.06472816;0.06895142;15...
3  0.06970508;0.07158763;0.05164856;0.06046468;25...
4  0.06115977;0.067016;0.05067227;0.05964825;2625...

In [53]:
df[['open', 'high', 'low','close', 'volume', 'marketCap','timestamp']] = df['open;high;low;close;volume;marketCap;timestamp\r'].str.split(';', expand=True)
df.drop('open;high;low;close;volume;marketCap;timestamp\r', axis=1, inplace=True)

In [56]:
df.head()

,open,high,low,close,volume,marketCap,timestamp
0,0.06183332,0.06634905,0.05261677,0.05816341,75.42,194510.84,"""2010-07-13T00:00:00.000Z""\r"
1,0.07879913,0.08360209,0.06903579,0.07416855,573.24,256302.41,"""2010-07-19T00:00:00.000Z""\r"
2,0.06976299,0.07825864,0.06472816,0.06895142,1555.03,242332.21,"""2010-07-25T00:00:00.000Z""\r"
3,0.06970508,0.07158763,0.05164856,0.06046468,2595.17,216655.53,"""2010-08-01T00:00:00.000Z""\r"
4,0.06115977,0.067016,0.05067227,0.05964825,2625.28,217398.49,"""2010-08-07T00:00:00.000Z""\r"

In [57]:
from dateutil.parser import parse

In [58]:
df['timestamp'] = df['timestamp'].apply(lambda x: parse(x))

# Extract date from datetime and assign it to a new column
df['Date'] = df['timestamp'].dt.date